.sidebar {
  display: none;
  position: relative;
}

.sidebar.open {
  display: block;
  padding: 50px;
  background: #fff;
  box-shadow:
    0px 1px 2px 0px rgba(29, 33, 38, 0.1),
    0px 10px 40px 0px rgba(29, 33, 38, 0.13);

  position: absolute;
  top: 0;
  left: -50px;
  min-width: 200px;
  z-index: 1000;
  height: 100vh;
}

.background {
  opacity: 0.3;
  background: #000;
}
.nav {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.nav a {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  text-decoration-line: none;

  padding: 20px;
}

.nav a:hover {
  color: #58acff;
}

.nav a.active {
  color: #0059b2;
  text-decoration-line: underline;
}
.close {
  background: none;
  border: none;
}

.close img {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}
