.tech {
  width: 50vw;
}

.developer {
}

.techHeader {
  width: 50vw;
}

.developerHeader {
}

.row {
  display: flex;
  padding: 10px;

  border-bottom: 1px solid #d5d1d1;
  &:last-child {
    border: none;
  }
}

.rowHeader {
  display: flex;
  padding: 10px;
  background-color: #d5d1d1;
  margin-top: 20px;
}

.loading {
}
