.spanBlock {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.span {
  color: #0080ff;
  font-weight: 500;
}

.input {
  border: 1px solid #d1d1d1;
}

.input:focus {
  border: 1px solid #d1d1d1;
}

.pen {
}
