
.App {
    --header_height: 60px;
    max-width: 1050px;
    margin: 130px auto 100px;
    position: relative;
}

.hw:before {
    content: '';
    border-top: 1px solid #D9D9D9;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
}

.content{
    display: flex;
    justify-content: revert;
}

.message {

}