.sendForm {
  width: 100%;
  display: flex;
}

.textarea {
  width: 100%;
  min-height: 40px;
  border-radius: 20px;
  background: #f5f7fb;
  border: #f5f7fb;
  box-shadow:
    0px 1px 2px 0px rgba(29, 33, 38, 0.1),
    0px 5px 20px 0px rgba(29, 33, 38, 0.03);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  resize: none;
}

.button {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 20px;
  background: #06c;
  border: #06c;
  margin-left: 45px;
}

.button:hover {
  background-color: #0a77e8;
}

.button:active {
}
