.burgerMenuIcon {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  width: 100%;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(29, 33, 38, 0.1);
}

.header h1 {
}
