.button {
  border-radius: 3px;
  padding: 5px 24px;
  color: #ddeeff;
  min-width: 100px;
  min-height: 30px;
  font-weight: 600;
  cursor: pointer;
}

.disabled {
  background-color: rgba(0, 77, 153, 0.51);
  border: 1px solid rgba(0, 77, 153, 0.51);
  color: rgba(0, 46, 92, 0.28);
  cursor: auto;
}

.secondary {
  border: 1px solid #0066cc;
  color: #0066cc;
}

.default {
  background-color: #0066cc;
  border: 1px solid #0066cc;
}

.red {
  background-color: #cc1439;
  border: 1px solid #cc1439;
}

.default:hover {
  background-color: #0080ff;
}

.red:hover {
  background-color: #ff1a47;
}

.secondary:hover {
  background-color: #e5f0fa;
}

.default:active {
  background-color: #0059b2;
}

.secondary:active {
  background-color: #c9e5ff;
}

.red:active {
  background-color: #b21232;
}

.button:disabled {
}
